
<ng-include src="'navbar.html'"></ng-include>
 <!--use as attribute-->
<div class="of-example"></div>
<!--use as element-->
<div class="of-example"></div>
<div class="container">
<div style="background-color:orange;height:312px;" class="col-sm-12 col-md-6">
<div class='table_container'>
    <h1>Your friends...</h1>
    <p>To edit information, click the row</p>
    <p>Search persons...empty search will fetch all your friends</p>
    <input type="search" class="form-control" value="Search" ng-model='search_term'/><br/>
    <button class="btn btn-default" value="Search" ng-click='search()'>
        <span class="glyphicon glyphicon-search"></span>
        Search
    </button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='person in friendData' ng-click='rowCliked(person._id)'>
                <td>{{person.name}}</td>
                <td>{{person.address}}</td>
                <td>{{person.age}}</td>
            </tr> 
        </div>
        </tbody>
    </table>
  <of-example></of-example>
</div>
<div style="background-color:red;height:312px;" class="col-sm-12 col-md-6">
  </div>  </div>